.cta-co-btn {
  color: white !important;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: #4b2e1ae8 !important;
  border: none;
}

.cta-co-btn:hover {
  background-color: #4b2e1aca !important;
  color: white !important;
}

.guarantee{
  height: 3.5rem;
    width: 4rem;
}

.MasterCard {
  height: 3.2rem;
  width: 3.2rem;
}
.paypal{
  height: 2.7rem;
  width: 2.7rem;
}

.etranfer{
  height: 3rem;
    width: 3rem;
}
