* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/img/image-back.webp");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.form-auth input {
  font-family: "Outfit";
  font-weight: 300;
}

.form-auth-field {
  font-family: "Outfit";
  font-weight: 300;
}

.input-tx {
  color: rgba(255, 255, 255, 0.762);
}
.input-tx::placeholder {
  color: rgba(255, 255, 255, 0.762);
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.formulary-subtitle {
  font-weight: 200;
}

.link-sign-up {
  color: #8e5430;
  font-size: 1.2rem;
}

.link-sign-up:hover {
  color: #8e5430;
}

.sign-up-btn {
  padding: 0.7rem 0 0.7rem 0;
  color: rgba(255, 255, 255, 0.776);
  background-color: #4b2e1ae8;
  font-size: 1.23rem;
  font-weight: 200;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.sign-up-btn:hover {
  background-color: #4b2e1a;
}

.log-in-btn {
  padding: 0.65rem 0 0.65rem 0;
  color: rgba(255, 255, 255, 0.776);
  background-color: #4b2e1ae8;
  font-size: 1.23rem;
  font-weight: 200;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.log-in-btn:hover {
  background-color: #4b2e1a;
}

.formulary {
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: #20202081;
  backdrop-filter: blur(3px);
  text-align: center;
  border-radius: 10px;
}

.formulary-welcome-message h2 {
  font-family: "BerlingskeSerif";
}

.create-account {
  margin: 0 0 2rem 0;
  font-size: 2.3rem;
  font-family: "BerlingskeSerif";
}

.icons {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.border-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}

.formulary input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  background-color: transparent;
  border: none;
  border-bottom: #fff thin solid;
  text-align: center;
  outline: none;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  color: #fff;
}

.formulary input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin #fff;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: #fff;
  font-weight: 600;
  margin-top: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
}
