.product-section {
  margin-top: 7rem;
  width: 80%;
}

.product-section-title {
  font-size: 2.2rem;
  font-family: "BerlingskeSerif";
  font-weight: 400;
  color: black;
}

.category-section-subtitle {
  width: 50%;
  font-size: 0.92rem;
  font-family: "BerlingskeSerif";
  font-weight: 300;
  color: black;
}

.product-card {
  height: 100% !important;
}

.product-image {
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out;
}

.product-image:hover {
  filter: brightness(90%);
}

.product-title {
  font-family: "BerlingskeSerif";
}

.product-subtitle {
  font-size: 0.95rem;
}

.product-price {
  font-family: "BerlingskeSerif";
  font-size: 1.25rem;
  color: #98866b;
  font-weight: 400;
}

.product-price-small {
  font-family: "BerlingskeSerif";
  font-size: 0.95rem;
  color: #98866b;
  font-weight: 400;
}

.product-description {
  font-size: 1.1rem;
  color: #98866b;
  font-weight: 200;
}

.product-additional-info {
  font-size: 0.95rem;
}

.product-btn {
  font-size: 1.1rem;
  color: #98866b;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: #fff;
  border: 1px solid #98866b;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.product-btn[disabled] {
  cursor: not-allowed;
}

.back-soon-product {
  border: none;
  background-color: #7e6f59c6;
  color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 5px;

}

.product-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #7e6f59dc;
}

.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 18px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button:hover {
  color: #a47f53;
  border-color: #a47f53;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button:focus {
  border-color: #a47f53;
  outline: none;
}
