.header-order-purchase {
  margin-top: 7rem;
}

.img-table {
  width: 180px;
  height: 120px;
}

/* User Order Details  */

.product-id {
  width: 8%;
}

.single-row-order-details {
  /* background-color: #98866b37 !important; */
  background-color: #ffe9d05f !important;
}

.title-table-details-order {
   background-color: #005b474a !important;
  /* background-color: #ffe9d05f !important; */
}