/* ABOUT */

.hero-about {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.278) 89%,
      rgba(255, 255, 255, 0.803) 96%,
      rgb(255, 255, 255) 100%
    ),
    url("/public/img/team-opacit.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.small-box {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -15%;
  left: 5%;
  background-color: var(--brand-green);
}

.img-team {
  border-radius: 50%;
}

.card-container {
  height: 450px;
  max-width: 350px;
  background-size: cover;

  overflow: hidden;
}
.shape-team {
  background-color: #005b47;
  height: 250px;
  width: 500px;
  margin-left: -20px;
  position: relative;
  top: -80px;
  box-shadow: 0 2px 15px #000;
  transform: rotate(25deg);
}

.img-team-andy {
  height: 200px;
  width: 200px;
  background-image: url("/public/img/team_Andres.png");
  position: relative;
  top: 150px;
  left: -30px; /* @query para desk*/
  background-size: cover;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgb(58, 54, 54);
  transform: rotate(-25deg);
}

.img-team-vir {
  height: 200px;
  width: 200px;
  background-image: url("/public/img/VirginiaBarbaroimg.jpg");
  position: relative;
  top: 150px;
  left: -30px; /* @query para desk*/
  background-size: cover;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgb(58, 54, 54);
  transform: rotate(-25deg);
}

.img-team-ali {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 3px var(--brand-ligth-brown);
}
.img-team-matto {
  height: 200px;
  width: 200px;
  background-image: url("/public/img/Mathi.jpg");

  position: relative;
  top: 150px;
  left: -30px; /* @query para desk*/
  background-size: cover;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgb(58, 54, 54);
  transform: rotate(-25deg);
}

.icons-team i {
  margin-left: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.icon-about {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: var(--brand-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-comment {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 20px;
  background-color: var(--brand-green);
  display: flex;
  justify-content: center;
  align-items: center;
}