/* ABOUT */

.hero-about {
  background-image: linear-gradient(
    to bottom,
    #005b47,
    #396741,
    #5e703e,
    #827844,
    #a47f53
  );
  height: 30vh;
}

.team {
  border: #005b47 solid 3px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
