.hero-image-aboutUs {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.278) 89%,
      rgba(255, 255, 255, 0.803) 96%,
      rgb(255, 255, 255) 100%
    ),
    url("/public/img/about-ec.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.ethics-politics {
  background-image: url("/public/img/etica.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.equity-politics {
  background-image: url("/public/img/equa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.safety-politics {
  background-image: url("/public/img/seguridad-first.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sustainability-politics {
  background-image: url("/public/img/sust.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-title {
  font-weight: 400;
  color: var(--brand-green) !important;
}

.hero-image-aboutProyect {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.278) 89%,
      rgba(255, 255, 255, 0.803) 96%,
      rgb(255, 255, 255) 100%
    ),
    url("/public/img/team-opacit.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
