* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-admin {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #271c15;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.dropdown-foto-admin {
  width: 10%;
}

.btn-offCanvas-settings {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  font-size: 1.5rem !important;
}

.btn-img-admin {
  border: none !important;
  background-color: transparent !important;
}

.offcanvas-link:hover {
  background-color: #dfd7cf;
  border-radius: 10px;
}

.edit-btn {
  border: none;
  background-color: transparent;
}

.edit-btn:hover {
  color: #975d34 !important;
  background-color: transparent;
}
