* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-admin {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #2d2d2d;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

@media (max-width: 576px) {
  .nav-link-text {
    display: none;
  }

  .icon-sidebar {
    display: grid;
    place-items: center;
  }
}

.sidebar {
  width: 10rem !important;
}

.dropdown-foto-admin {
  width: 10%;
}

.btn-offCanvas-settings {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  font-size: 1.5rem !important;
}

.btn-img-admin {
  border: none !important;
  background-color: transparent !important;
}

.admin-section-title {
  font-family: "BerlingskeSerif";
}

.dashbord-cards-container {
  width: 90%;
}

.no-orders {
  margin-top: 2.7rem;
  width: 60%;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #2323230e;
}

.no-orders-title {
  margin-bottom: 0.8rem;
  font-size: 2.15rem;
  color: var(--brand-green-dark);
  font-family: "BerlingskeSerif";
}

.no-orders-message {
  color: rgb(135, 135, 135);
  font-size: 0.93rem;
  font-weight: 200;
}

.admin-last-orders-section {
  margin-top: 6rem;
}

.table-columns th {
  font-size: 1rem;
}

.offcanvas-link:hover {
  background-color: #2d2d2d17;
}

.offcanvas-link:hover > * {
  color: black;
}

.offcanvas-link-active {
  background-color: #2d2d2d;
}

.offcanvas-link-children-active {
  color: white;
}

.create-admin-title {
  font-family: "BerlingskeSerif";
  color: var(--brand-green-dark);
}

.create-admin-form {
  padding: 0.5rem 0 0.35rem 0;
  color: white;
  background-color: #98866b;
  font-size: 1.3rem;
  font-family: "BerlingskeSerif";
  font-weight: 200;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.create-admin-form:hover {
  background-color: #7e6f59;
}

.edit-btn {
  border: none;
  background-color: transparent;
}

.edit-btn:hover {
  color: #975d34 !important;
  background-color: transparent;
}

/* Dashboard  */
.icon-dashboard-order {
  width: 70px;
  height: 70px;

  background-color: var(--brand-green-dark);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dashboard-products {
  width: 70px;
  height: 70px;
  background-color: var(--brand-green-dark);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dashboard-sales {
  width: 70px;
  height: 70px;
  background-color: var(--brand-green-dark);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
