* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-admin {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #271c15;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

@media (max-width: 576px) {
  .nav-link-text {
    display: none;
  }

  .icon-sidebar {
    display: grid;
    place-items: center;
  }
}

.sidebar {
  width: 10rem !important;
}

.dropdown-foto-admin {
  width: 10%;
}

.btn-offCanvas-settings {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  font-size: 1.5rem !important;
}

.btn-img-admin {
  border: none !important;
  background-color: transparent !important;
}

.offcanvas-link:hover {
  background-color: #dfd7cf;
  border-radius: 10px;
}

.edit-btn {
  border: none;
  background-color: transparent;
}

.edit-btn:hover {
  color: #975d34 !important;
  background-color: transparent;
}

/* Dashboard  */
.icon-dashboard-order {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 80%;
  background-color: rgba(49, 49, 212, 0.900);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dashboard-products {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 80%;
  background-color: rgb(238, 158, 10, 0.900);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dashboard-sales {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 80%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-dashboard  {
  display: grid;
  place-items: center;
}

