.brown {
  color: var(--brand-dark-brown) !important;
}

.cart-product-title {
  font-size: 1.3rem;
  font-family: "BerlingskeSerif";
  color: #98866b;
}

.cart-product-title:hover {
  color: #98866b;
}

.cart-product-price {
  font-size: 0.95rem;
}

.cart-product-subtotal {
  font-size: 0.9rem;
}

.cart-product-total {
  border-top: 0.8px solid #a9a9a99d;
}

.cta-ck-btn {
  width: 100%;
  color: #98866b !important;
  padding: 0.7rem 0.8rem 0.5rem 0.8rem !important;
  font-family: "BerlingskeSerif" !important;
  font-weight: 400;
  /* background-color: #98866b !important; */
  border: 1px solid #98866b !important;
  transition: background-color 0.3s ease-in-out !important;
}

.cta-ck-btn:hover {
  background-color: #7e6f59dc !important;
  color: white !important;
}

.toast-message .Toastify__toast {
  /* background-color: rgba(211, 211, 211, 0.781); */
  color: black;
  backdrop-filter: 1 blur(10px);
  font-size: 0.8rem;
}
