@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: "IvyOra Display";
  src: local("IvyOra Display Thin"), local("IvyOra-Display-Thin"),
    url("/public/fonts/IvyOraDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Text";
  src: local("IvyOra Text Regular"), local("IvyOra-Text-Regular"),
    url("/public/fonts/IvyOraText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Text";
  src: local("IvyOra Text Medium"), local("IvyOra-Text-Medium"),
    url("/public/fonts/IvyOraText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Text";
  src: local("IvyOra Text Bold"), local("IvyOra-Text-Bold"),
    url("/public/fonts/IvyOraText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IvyOra Text";
}

html {
  overflow-x: hidden;
}

:root {
  --brand-green: #005b47;
  --brand-dark-brown: #975d34;
  --brand-ligth-brown: #a47f53;
  --light-gray: #959595;
}

/* Start Home styles */

.navbar-static {
  background: transparent;
}

.navbar-dynamic {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.565);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  /* box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.163); */
}

.navbar-dynamic-text {
  color: black;
}

.navbar-static-text {
  color: #fff !important;
}

.navbar-static-text a {
  color: #fff !important;
}
.navbar-dynamic-logo {
  font-size: 1.55rem !important;
  color: var(--brand-green) !important;
  font-weight: 500;
}

.navbar-static-logo {
  font-size: 1.55rem !important;
  color: #fff !important;
  font-weight: 500;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 8vh;
  transition: background-color 0.3s ease-in-out, position 0.3s ease-in-out;
}

.navbar-dropdown a {
  color: white !important;
}

.hero-image {
  background-image: url("/public/img/hero_image.webp");
  filter: brightness(85%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-title-container {
  z-index: 10;
  padding: 3.5rem 3.3rem 3.5rem 3.3rem;
  background-color: rgba(255, 255, 255, 0.128);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hero-text {
  color: #104438dd;
}

.hero-title {
  font-size: 3.7rem;
  font-weight: 500;
}

.hero-cta {
  font-size: 1rem;
  cursor: pointer;
}

.hero-cta:hover {
  color: #104438;
  text-decoration: underline;
}

.card-price {
  color: #a47f53;
}

.featured-section {
  margin-top: 5.5rem;
  width: 85%;
}

.featured-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out;
}

.featured-card:hover {
  transform: scale(1.015);
  box-shadow: 0px 0px 8px 1.3px rgba(0, 0, 0, 0.456);
  border: none;
}

.featured-card-title {
  font-weight: 500;
}

.featured-card-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--light-gray);
}

.team-section {
  margin-top: 5.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(48, 48, 48, 0.024);
}

.cta {
  width: 15%;
  padding: 1.1rem 0rem 1.1rem 0rem;
  font-size: 1.1rem;
  color: var(--brand-green);
  background-color: rgba(69, 69, 69, 0.064);
  cursor: pointer;
  /* border: 1px solid var(--brand-green); */
  transition: background-color 0.15s ease-in-out 0.1s;
}

.cta:hover {
  background-color: rgba(67, 67, 67, 0.152);
}

.categories-section {
  height: 85vh;
  margin-top: 5rem;
}

.categories-container {
  width: 85%;
}

.category-card {
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.category-card:hover {
  filter: brightness(85%);
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.456); */
}

.category-card-title {
  color: var(--brand-ligth-brown) !important;
}

.inspiration-section {
  padding: 3rem 0rem 3rem 0rem;
  background-color: rgba(48, 48, 48, 0.024);
  margin-top: 5.5rem;
  width: 100%;
  height: 80vh;
}

.inspiration-section-row {
  width: 80%;
}

.inspiration-cta {
  width: 25%;
  padding: 0.9rem 0rem 0.9rem 0rem;
  font-size: 1.1rem;
  color: var(--brand-green);
  background-color: rgba(69, 69, 69, 0.064);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.inspiration-cta:hover {
  background-color: rgba(67, 67, 67, 0.152);
}
/* End Home Styles */
