/* Start Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600;700;800&display=swap");
/* End Icons */

/* Start Fonts */
@font-face {
  font-family: "BerlingskeSerif";
  src: local("BerlingskeSerif-Lt"),
    url("/public/fonts/BerlingskeSerif-Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BerlingskeSerif";
  src: local("BerlingskeSerif Regular"), local("BerlingskeSerif-Regular"),
    url("/public/fonts/BerlingskeSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerlingskeSerif";
  src: local("BerlingskeSerif-Md"),
    url("/public/fonts/BerlingskeSerif-Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* End Fonts */

/* Start Animations */

@keyframes op1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes op1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes op2 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@-webkit-keyframes op2 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes op3 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes op3 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Animations */

/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

html {
  overflow-x: hidden;
}

:root {
  --category-gray: #faf9f7;
  --brand-green: #005b47;
  --brand-green-dark: #024738;
  --brand-dark-brown: #975d34;
  --brand-ligth-brown: #a47f53;
  --light-gray-text: #959595;
  --light-gray-background: rgba(48, 48, 48, 0.024);
  --dark-gray-background: rgba(48, 48, 48, 0.085);
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important; /* Optional: Add a border color to maintain accessibility */
  outline: none !important;
}

/* End General Styles */

/* Start Toastify */

.toast-success .Toastify__toast {
  color: black;
  backdrop-filter: blur(10px);
  font-size: 0.8rem;
}

.toast-success .Toastify__toast .Toastify__progress-bar {
  background-color: var(--brand-green-dark);
}

.toast-success
  .Toastify__toast
  .Toastify__toast-body
  .Toastify__toast-icon
  svg {
  fill: var(--brand-green-dark) !important;
}

/* End Toastify */

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-static {
  position: fixed !important;
  top: 0px;
  z-index: 100;
}

.navbar-nav {
  color: var(--light-gray-text) !important;
}

.navbar-dynamic {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #ffffff90;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  /* box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.163); */
}

.navbar-static-text {
  margin: 0rem 0.8rem;
}

.navbar-dynamic-text {
  margin: 0rem 0.8rem;
}

.navbar-dynamic-text a {
  padding: 0 !important;
  color: black !important;
  font-size: 0.95rem;
  font-family: 200;
}

.navbar-static-text a {
  font-size: 0.95rem;
  padding: 0 !important;
  color: #fff !important;
  font-family: 200;
}

@media (min-width: 992px) {
  #navbar-movil {
    margin-left: auto;
    align-items: center;
  }
}

/* @media (max-width: 991px) {
  .navbar-movil-collapse {
    margin-left: auto;
    align-items: center;
    border: 1px solid red !important;
    width: 7rem;
  }
} */

.dropdown-menu a {
  padding: 0.2rem 0rem 0.2rem 0.5rem !important;
}

.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.169);
}

.navbar-static-text .dropdown-menu {
  padding: 0 !important;
  background-color: var(--light-gray-background) !important;
  border: 1px solid var(--dark-gray-background) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease-in-out;
}

.navbar-static-text .dropdown-menu .dropdown-item {
  padding: 0.1rem 0 0.1rem 0.5rem !important;
  font-size: 0.9rem;
  font-weight: 200;
}

.navbar-dynamic-text .dropdown-menu {
  padding: 0 !important;
  border: 1px solid var(--dark-gray-background) !important;
  background-color: #ffffff6e;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease-in-out;
}

.navbar-dynamic-text .dropdown-menu .dropdown-item {
  padding: 0.1rem 0 0.1rem 0.5rem !important;
  font-size: 0.9rem;
  font-weight: 200;
}

.navbar-static-text .dropdown-menu hr {
  margin: 0;
  border: 0.2px solid var(--light-gray-text) !important;
}

.navbar-dynamic-text .dropdown-menu hr {
  margin: 0;
  border: 0.2px solid #ffffff6e !important;
}

.navbar-static-text::after {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 0;
  background-color: #fff;
  transition: width 0.4s;
}

.navbar-static-text:hover::after {
  width: 100%;
}

.navbar-static .cart-nav {
  width: 0.5px;
  height: 0.5px;
  margin-right: 0.3rem;
  color: white;
}

.navbar-dynamic .cart-nav {
  width: 0.5px;
  height: 0.5px;
  margin-right: 0.3rem;
  color: black;
}

.navbar-static .cart-product-number {
  margin-top: 0.15rem;
  margin-left: 1.1rem;
  font-size: 0.9rem;
  color: white;
  font-weight: 100;
}

.navbar-dynamic .cart-product-number {
  margin-top: 0.15rem;
  margin-left: 1.1rem;
  color: black;
  font-weight: 100;
}

.navbar-static-dropdown .dropdown-toggle {
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.navbar-static-dropdown a {
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0 !important;
  color: #fff !important;
}

.navbar-static-dropdown a:hover {
  color: #fff !important;
}

.navbar-static-dropdown .dropdown-menu {
  padding: 0 !important;
  background-color: var(--light-gray-background) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--dark-gray-background) !important;
}
.navbar-static-dropdown .dropdown-menu .dropdown-item {
  padding: 0.1rem 0 0.1rem 0.5rem !important;
}

.navbar-static-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.169);
}

.navbar-dynamic-dropdown .dropdown-toggle {
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.navbar-dynamic-dropdown a {
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0 !important;
  color: black !important;
}

.navbar-dynamic-dropdown a:hover {
  color: black !important;
}

.navbar-dynamic-dropdown .dropdown-menu {
  padding: 0 !important;
  background-color: #ffffff6e;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--dark-gray-background) !important;
}

.navbar-dynamic-dropdown .dropdown-menu .dropdown-item {
  padding: 0.1rem 0 0.1rem 0.5rem !important;
}

.navbar-dynamic-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.169);
}

.cart-empty {
  width: 90%;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: var(--dark-gray-background);
}

.cart-empty-title {
  margin-bottom: 0.8rem;
  font-size: 2.15rem;
  color: var(--brand-green-dark);
  font-family: "BerlingskeSerif";
}

.cart-empty-message {
  color: rgb(135, 135, 135);
  font-size: 0.9rem;
  font-weight: 200;
}

.cart-additional-info {
  font-weight: 200;
}

.navbar-dynamic-text::after {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 0;
  background-color: black;
  transition: width 0.4s;
}

.navbar-dynamic-text:hover::after {
  width: 100%;
}

.navbar-dynamic-logo {
  font-size: 1.6rem !important;
  color: black !important;
  font-weight: 600;
}

.navbar-static-logo {
  font-size: 1.6rem !important;
  color: #fff !important;
  font-weight: 600;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 7.5vh;
  transition: background-color 0.3s ease-in-out, position 0.3s ease-in-out;
}

.navbar-avatar {
  width: 2.2rem !important;
  height: 2.2rem !important;
}

/* End Navbar Home Styles  */

/* Start Navbar Other Styles */

.navbar-other-static {
  background-color: #ffffff6e;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.navbar-other-static-text::after {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 0;
  background-color: black;
  transition: width 0.4s;
}

.navbar-other-static-text:hover::after {
  width: 100%;
}

.navbar-other-static-text {
  margin: 0rem 0.8rem;
}

.navbar-other-static-text a {
  font-size: 0.95rem;
  padding: 0 !important;
  color: black;
}

.navbar-other-static-text a:hover {
  color: black;
}

.navbar-other-static-logo {
  font-size: 1.6rem !important;
  color: black;
  font-weight: 600;
}

.navbar-other-static .cart-nav {
  width: 0.5px;
  height: 0.5px;
  margin-right: 0.3rem;
  color: black;
}

.navbar-other-static .cart-product-number {
  margin-top: 0.15rem;
  margin-left: 1.1rem;
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
}

/* End Navbar Other Styles  */

/* Start Footer Styles */

.footer {
  margin-top: 5.5rem;
  background-color: var(--dark-gray-background);
}

.footer input {
  font-weight: 300;
}

.footer button {
  font-weight: 300;
  color: var(--light-gray-text);
}

.footer-container {
  width: 90%;
  padding: 3rem 0rem 3rem 0rem;
}

.footer-list {
  font-size: 0.9rem;
  color: black;
}

.footer-list li {
  margin-bottom: 0.5rem;

  font-weight: 300;
}

.footer-cta {
  background-color: var(--brand-green-dark) !important;
}

.footer-cta:hover {
  background-color: var(--brand-green) !important;
}

.footer-text {
  color: var(--brand-green-dark);
}

.img-footer {
  width: 6rem;
}

.contact-us-name:hover {
  color: #005b47 !important;
}

/* End Footer Styles */

/* Start Home styles */

.hero-image {
  background-image: url("/public/img/hero_image.webp");
  filter: brightness(85%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text {
  color: #104438dd;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 500;
  position: absolute;
  top: 21%;
  right: 12%;
  opacity: 0;
  font-family: "BerlingskeSerif";
}

.animation-first-phrase {
  animation: op1 9s infinite;
  -webkit-animation: op1 9s infinite;
}

.animation-second-phrase {
  animation: op2 9s infinite;
  -webkit-animation: op2 9s infinite;
}

.animation-third-phrase {
  animation: op3 9s infinite;
  -webkit-animation: op3 9s infinite;
}

.hero-cta {
  position: absolute;
  top: 33%;
  right: 12%;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 200;
}

.hero-cta:hover {
  color: #104438;
  text-decoration: underline;
}

.card-price {
  color: #98866b;
  font-weight: 400;
}

.featured-section {
  margin-top: 5.5rem;
  width: 85%;
}

.section-title {
  font-family: "BerlingskeSerif";
}

.section-subtitle {
  font-weight: 200;
}

.slick-next,
.slick-prev {
  color: #959595 !important;
}

.featured-card {
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  border: none !important;
}

.featured-product-image {
  height: 20vh;
  object-fit: cover !important;
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out;
}

.featured-product-image:hover {
  filter: brightness(90%);
}

.featured-card-body {
  height: 30vh;
  border: 1px solid var(--dark-gray-background);
  border-top: 0;
}

.featured-card-body-home {
  height: 35vh;
  border: 1px solid var(--dark-gray-background);
  border-top: 0;
}

.featured-card-title {
  font-family: "BerlingskeSerif";
  font-weight: 500;
}

.featured-card-text {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--light-gray-text);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-section {
  height: 35vh;
  margin-top: 5.5rem;
  background-color: rgba(48, 48, 48, 0.024);
}

.cta {
  padding: 0.9rem 1.4rem 0.9rem 1.4rem;
  font-size: 1.1rem;
  font-weight: 200;
  color: #98866b;
  background-color: transparent !important;
  border: 1px solid #98866b;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.cta-offcanvas-project {
  border-radius: 0.4rem;
  padding: 0.5rem 0.85rem 0.35rem 0.85rem;
  font-size: 0.94rem;
  font-family: "BerlingskeSerif" !important;
  color: #98866b;
  background-color: white;
  border: 1px solid #98866ba6 !important;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.cta-offcanvas-project:hover {
  color: #fff;
  background-color: #7e6f59dc !important;
}

.title-offcanvas-project {
  font-size: 1rem;
  letter-spacing: 0.09rem;
  font-weight: 600;
}

.separator-offcanvas-project {
  width: 90%;
  opacity: 100 !important;
  border: 0.8px solid black !important  ;
  margin: 0.6rem 0 1rem 0;
}

.text-offcanvas-project {
  font-size: 0.95rem;
}

.body-offcanvas-project {
  padding: 2rem !important;
}

.cta-sobre-proyecto {
  width: 10rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 0.5px solid white;
  padding: 0.3rem 0rem 0.6rem 0rem;
  font-size: 1rem;
  font-weight: 200;
  background-color: #7e6f5994 !important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.cta-sobre-proyecto:hover {
  color: #fff;
  background-color: #6b5e4caa !important;
}

.cta a {
  font-weight: 200;
}

.cta:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #7e6f59dc !important;
}

.categories-section {
  margin-top: 5rem;
}

.categories-container {
  width: 85%;
}

.category-card {
  height: 40vh;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out,
    filter 0.3s ease-in-out;
  background-color: var(--category-gray) !important;
  filter: brightness(80%);
}

.category-name {
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border: 1.35px solid white;
  filter: brightness(100%);
  color: white;
  font-size: 1.8rem;
  font-family: "BerlingskeSerif";
  font-weight: 500 !important;
  /*  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em; */
}

.pt-8 {
  padding-top: 8vh;
}

.category-card-right {
  height: 81vh;
  cursor: pointer;
  filter: brightness(80%);
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.category-card-right:hover {
  filter: brightness(100%);
}

.category-card:hover {
  filter: brightness(100%);
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.456); */
}

.inspiration-section {
  margin-top: 5rem;
  padding: 3rem 0rem 3rem 0rem;
  background-color: rgba(48, 48, 48, 0.024);
  width: 100%;
  height: fit-content;
}

.inspiration-section-row {
  width: 80%;
}

.inspiration-cta {
  width: 10rem;
  padding: 0.9rem 0.8rem 0.9rem 0.8rem;
  font-size: 1rem;
  font-weight: 200;
  color: #98866b;
  border: 1px solid #98866b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out 0.1s,
    color 0.2s ease-in-out 0.1s;
}

.inspiration-cta:hover {
  color: #fff;
  background-color: #7e6f59dc !important;
}
/* End Home Styles */

/* Start Categories Styles */

.category-section {
  width: 80%;
}

.category-section-title {
  font-size: 2.2rem;
  font-family: "BerlingskeSerif";
  font-weight: 400;
  color: black;
}

.categories-card {
  background-color: rgba(203, 203, 203, 0.1);
}

.categories-card-title {
  font-size: 1.85rem;
  font-family: "BerlingskeSerif";
}

.categories-price {
  font-size: 1.1rem;
}

.categories-additional-info {
  font-size: 0.95rem;
}

/* End Cateogries Styles */

@media only screen and (max-width: 1024px) {
  .hero-title {
    font-size: 3rem;
    font-weight: 500;
    opacity: 0;
  }

  .hero-cta {
    font-size: 0.85rem;
    cursor: pointer;
  }

  .hero-title1-sm {
    position: absolute;
    top: 40%;
    right: 5%;
  }

  .hero-title2-sm {
    position: absolute;
    top: 40%;
    right: 20%;
  }

  .hero-title3-sm {
    position: absolute;
    top: 40%;
    right: 8%;
  }

  .hero-cta-sm {
    position: absolute;
    top: 53%;
    right: 10%;
  }

  .category-card {
    height: 33vh;
  }
  .category-card-right {
    height: 33vh;
  }
}

.order-box {
  margin-top: 7.5rem;
}
.hoverCard:hover {
  transform: scale(1.015);
  border: none;
  cursor: pointer;
}

.error {
  margin-top: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-information {
  position: fixed;
  bottom: 20%;
  left: 93.2%;
  transform: rotate(270deg);
}

@media (max-width: 805px) {
  .btn-info {
    margin-left: 80%;
  }
}
